<!doctype html>
<html lang="en">
<head>
	<meta cahrset="UTF-8">
	<title>Quoting Dojo</title>
	
</head>
<body>
	<form action="main" method="post">
		<div>
			<h3>Welcome to Quoting Dojo</h3>
			<p><label>Your Name:</label>
			<input type="text" name="name" /></p>
			<p><label>Your Quote:</label>
			<textarea name="quote" rows="5" cols="6"></textarea>
			</p>
			<p><button id="addQuote">Add my quote!</button>
				<button id="skipToQuotes"><a href="/main">Skip to Quotes!</a></button></p>
		</div>
    </form>         

</body>
</html>